*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}
#password{
    font-size: 24px;
    padding:12px;
    background-color: bisque;
    border:2px solid black;
    border-radius: 5px;
    outline: none;

}